{{ form_start(form) }}
<div class="mb-3">
    {{ form_label(form.subject, 'Subject', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.subject) }}
</div>

<div class="mb-3">
    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}
    {{ form_errors(form.description) }}
</div>

<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
