{% extends 'base.html.twig' %}

{% block title %}Post details{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h1 class="h4 mb-0">Post details</h1>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width: 200px;">Id</th>
                    <td>{{ post.id }}</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{ post.subject }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ post.description }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('app_post_index') }}" class="btn btn-secondary">Back to list</a>
            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-warning">Edit</a>

            <div class="mt-3">
                {{ include('post/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
